<div class="list-container">
    <h2>Lista de Proyectos</h2>
    <table class="project-table">
      <thead>
        <tr>
          <th>Nombre Clave</th>
          <th>Denominación</th>
          <th>Estado</th>
          <th>Fecha Inicio</th>
          <th>Fecha Fin</th>
          <th>Coordinador</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proyecto of proyectos">
            <td>{{ proyecto.nombreClave }}</td>
            <td>{{ proyecto.denominacionComercial }}</td>
            <td>{{ proyecto.estado }}</td>
            <td>{{ proyecto.fechaInicio | date }}</td>
            <td>{{ proyecto.fechaFin | date }}</td>
            <td>{{ proyecto.coordinador?.nombre }}</td>
          </tr>
      </tbody>
    </table>
  </div>
  