<div class="home-container">
  <!-- Resumen de proyectos -->
  <section class="projects-overview">
    <h2>Resumen de Proyectos</h2>
    <div class="project-cards-container">
      <div class="project-card" *ngFor="let project of projects">
        <h3>{{ project.nombreClave }}</h3>
        <p><strong>Denominación:</strong> {{ project.denominacion }}</p>
        <p><strong>Fecha de Inicio:</strong> {{ project.fechaInicio | date:'dd/MM/yyyy' }}</p>
        <p><strong>Fecha de Fin:</strong> {{ project.fechaFin | date:'dd/MM/yyyy' }}</p>
        <p><strong>Estado:</strong> {{ project.estado }}</p>
      </div>
    </div>
  </section>

  <!-- Tareas recientes -->
  <section class="tasks-overview">
    <h2>Tareas Recientes</h2>
    <ul class="task-list">
      <li *ngFor="let task of recentTasks" (click)="cargarDocumentos(task.id)" [class.selected]="task.id === selectedTaskId">
        <strong>{{ task.descripcion }}</strong> - 
        <span class="status">{{ task.estado }}</span> - 
        <span class="date">{{ task.fechaInicio | date:'dd/MM/yyyy' }}</span>
      </li>
    </ul>
  </section>
</div>
