<div class="home-container">
  <section class="welcome-section">
    <h1>Bienvenido a la Gestión de Proyectos</h1>
    <p>Administra y controla los proyectos de tu empresa desde una única aplicación.</p>
  </section>

  <section class="projects-overview">
    <h2>Resumen de Proyectos</h2>
    <div class="project-cards-container">
      <div class="project-card" *ngFor="let project of projects">
        <h3>{{ project.nombreClave }}</h3>
        <p><strong>Denominación:</strong> {{ project.denominacion }}</p>
        <p><strong>Fecha de Inicio:</strong> {{ project.fechaInicio | date: 'dd/MM/yyyy' }}</p>
        <p><strong>Fecha de Fin:</strong> {{ project.fechaFin | date: 'dd/MM/yyyy' }}</p>
        <p><strong>Estado:</strong> {{ project.estado }}</p>
      </div>
    </div>
    <div class="button-group">
      <button routerLink="/usuario/listar" class="btn-primary">Ver Todos</button>
      <button routerLink="/usuario/nuevo" class="btn-secondary">Agregar Proyecto</button>
    </div>
  </section>
  
  <div class="documents-overview">
    <h2>Documentos</h2>
    <app-documento-list></app-documento-list>
    <button routerLink="/usuario/visualizar" class="btn-ver-todos">Ver Documentos</button>
  </div>
  
  
    <ng-template #noTaskSelected>
      <p>Por favor, selecciona una tarea para ver los documentos asociados.</p>
    </ng-template>
  </div>
  
