<section class="blur-background">
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6 col-lg-4">
        <!-- Tarjeta de inicio de sesión -->
        <div class="card login-card">
          <div class="card-header">
            <h1>Iniciar Sesión</h1>
            <p>Bienvenido de nuevo, por favor ingrese sus credenciales</p>
          </div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()" aria-labelledby="login-form">
              <!-- Grupo de correo -->
              <div class="form-group mb-3">
                <label for="username" class="form-label">Usuario</label>
                <input 
                  id="username" 
                  formControlName="username" 
                  class="form-control" 
                  type="text" 
                  placeholder="Ingrese su usuario" 
                  required 
                  aria-required="true"
                />
              </div>

              <!-- Grupo de contraseña -->
              <div class="form-group mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input 
                  id="password" 
                  formControlName="password" 
                  class="form-control" 
                  type="password" 
                  placeholder="Ingrese su contraseña" 
                  required 
                  aria-required="true"
                />
              </div>

              <!-- Botón de inicio de sesión -->
              <div class="text-center mt-4">
                <button type="submit" class="btn btn-action w-100" [disabled]="isLoading">
                  <span *ngIf="!isLoading">Iniciar Sesión</span>
                  <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <small>¿Olvidaste tu contraseña? <a routerLink="/reset-password" class="text-link">Recupérala aquí</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
