/* src/styles.scss */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

:root {
  --primary-color: #3f51b5;
  --secondary-color: #ff4081;
  --background-color: #f5f5f5;
  --text-color: #333333;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  background-color: var(--background-color);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.content-area {
  flex: 1;
  padding: 20px;
  margin-left: 250px; // Ancho del sidebar
}

// Responsive
@media (max-width: 768px) {
  .content-area {
    margin-left: 0;
  }
}