
<nav class="navbar">
    <div class="navbar-container">
      <a class="navbar-logo" href="/">Gestión de proyectos</a>
      <ul class="navbar-links">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a></li>
        <li><a routerLink="/about" routerLinkActive="active">Nosotros</a></li>
        <li><a routerLink="/services" routerLinkActive="active">Servicios</a></li>
        <li><a routerLink="/documentos" routerLinkActive="active">Documentos</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contacto</a></li>
      </ul>
    </div>
  </nav>